<h1>List of all articles</h1>

<p>
<%= link_to "Create New Article", new_article_path %>
</p>

<div class="container">
    <div class="table_title">Title</div>
    <div class="table_description">Description</div>

    <% @articles.each do |article| %>
        <div class="content_title">
            <%= article.title %>
        </div>
        <div class="content_description">
            <%= article.description %>
        </div>
        <div>
            <%= link_to "Edit", edit_article_path(article) %>
        </div>
        <div>
            <%= link_to "Show", article_path(article) %>
        </div>
        <div>
            <%= link_to "Delete", article_path(article), method: :delete %>
        </div>
    <% end %>
</div>